<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Resumer</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
  <script src='./main.js'></script>
</head>

<body>

</body>
<section class="container">
  <div class="title-container">
    <h1>Page Title</h1>
    <h4>Description</h4>
  </div>
  <textarea id="textarea">

    </textarea>
  <button onclick="submit()"></button>
</section>

</html>